@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model serviciosrest.Models.ProductoModels

@{
    ViewBag.Title = "Crear Producto";
}

<h2>Crear Producto</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Producto</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.nompro, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nompro, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nompro, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.despro, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.despro, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.despro, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.prepro, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.prepro, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.prepro, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.canpro, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.canpro, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.canpro, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.estpro, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.estpro, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.estpro, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.codcat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.codcat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.codcat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la Lista", "Index")
</div>
