@model IEnumerable<serviciosrest.Models.CategoriaModels>

@{
    ViewBag.Title = "Categorías";
}

<h2>Categorías</h2>

<p>
    @Html.ActionLink("Crear Nueva Categoría", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.codigo }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.codigo }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.codigo })
            </td>
        </tr>
    }

</table>
